[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/rusefi/ChibiOS.git
[submodule "software/ChibiOS"]
	path = software/ChibiOS
	url = https://github.com/rusefi/ChibiOS.git
[submodule "software/STM Led Driver/ChibiOS"]
	path = software/STM Led Driver/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
